/* General */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comic Neue';
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.d-column {
    flex-direction: column;
}

.d-center {
    align-items: center;
}


/* Content */

.canvas {
    max-height: 100vh !important;
}

#start {
    height: 100vh !important;
}

.fullscreenBtn {
    margin-top: 8px;
    background-color: transparent;
    border: 0px solid;
    font-size: 16px;
    font-family: 'Comic Neue';
}

.fullscreenBtn:hover {
    cursor: pointer;
}

#startScreen {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 1280px;
    max-height: 720px;
    object-fit: contain;
    object-position: top;
}

.content {
    margin-top: 1vw;
    height: 9vw;
    align-items: center;
    width: 100%;
}

.startGameBtn {
    position: absolute;
    width: 14vw;
    max-width: 179px;
    height: 4vw;
    max-height: 51px;
    top: 2.5vw;
    left: calc((100vw - 1280px) / 2 + 77px);
    border-radius: 0.2vw;
    border: 0.3vw solid rgb(253, 130, 9);
    background-color: green;
    font-size: 2vw;
    font-family: 'Comic Neue';
    color: rgb(235, 235, 235);
    z-index: 999;
}

.startGameBtn:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.txt {
    position: absolute;
    margin-left: 8px;
    font-size: 1.9vw;
    font-weight: bold;
}

.infoButtonsStart {
    position: absolute;
    height: 2.2vw;
    max-height: 28px;
    width: 2.2vw;
    max-width: 28px;
    border-radius: 0.2vw;
    background-color: rgb(253, 130, 9);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoButtonsTxtD {
    position: absolute;
    height: 2.2vw;
    max-height: 28px;
    width: 2.2vw;
    max-width: 28px;
    border-radius: 0.2vw;
    background-color: rgb(253, 130, 9);
    color: white;
    font-weight: bolder;
    font-size: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoButtonsTxtJ {
    position: absolute;
    height: 2.2vw;
    max-height: 28px;
    width: 6vw;
    max-width: 76px;
    border-radius: 0.2vw;
    background-color: rgb(253, 130, 9);
    color: white;
    font-weight: bolder;
    font-size: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnLeft {
    top: 1.6vw;
    left: calc((100vw - 1280px) / 2 + 346px);
}

.txtLeft {
    top: 1.6vw;
    left: calc((100vw - 1280px) / 2 + 385px);
}

.btnRight {
    top: 5.2vw;
    left: calc((100vw - 1280px) / 2 + 346px);
}

.txtRight {
    top: 5.2vw;
    left: calc((100vw - 1280px) / 2 + 385px);
}

.btnTB {
    top: 1.6vw;
    left: calc((100vw - 1280px) / 2 + 512px);
}

.txtTB {
    top: 1.6vw;
    left: calc((100vw - 1280px) / 2 + 550px);
}

.btnJ {
    top: 5.2vw;
    left: calc((100vw - 1280px) / 2 + 512px);
}

.txtJ {
    top: 5.2vw;
    left: calc((100vw - 1280px) / 2 + 600px);
}

.liKillC {
    top: 1.6vw;
    left: calc((100vw - 1280px) / 2 + 770px);
}

.liKillE {
    top: 5.2vw;
    left: calc((100vw - 1280px) / 2 + 770px);
}

.liLeft {
    top: 9vw;
    left: calc((100vw - 1280px) / 2 + 346px);
}


.infoButtonsStart img {
    width: 1vw;
}

.gameInfo {
    margin-left: 4vw !important;
    font-size: 1.9vw;
    font-weight: bold;
}

.gameInfo > div {
    margin-top: 4px;
    margin-bottom: 4px;
}

canvas {
    background-color: black;
    display: block;
}

.endscreen {
    margin-top: 16px;
    max-width: 1280px;
    width: 100%;
    justify-content: space-around;
}

.gameOver > div {
    margin-left: 12px;
    margin-right: 12px;
}

.infoButtonsEnd {
    border: 0.2vw solid black;
    border-radius: 8px;
    background-color: rgb(253, 130, 9);
}

.infoButtonsEnd img {
    height: 7vw;
}

.rightStartBtn {
    left: 10vw !important;
}

.killE {
    top: 2vw !important;
    left: 27vw !important;
}

.killC {
    top: 2vw !important;
    left: 54vw !important;
}

.ifY {
    top: 4.6vw !important;
}
/* 
.objectP {
    object-position: center !important;
} */


/* Responsive */

@media (max-width: 1280px) {

    .startGameBtn {
        left: 6vw;
    }

    .btnLeft {
        left: 27vw;
    }
    
    .txtLeft {
        left: 30vw;
    }
    
    .btnRight {
        left: 27vw;
    }
    
    .txtRight {
        left: 30vw;
    }
    
    .btnTB {
        left: 40vw;
    }
    
    .txtTB {
        left: 43vw
    }
    
    .btnJ {
        left: 40vw
    }
    
    .txtJ {
        left: 47vw
    }
    
    .liKillC {
        left: 60vw;
    }
    
    .liKillE {
        left: 60vw;
    }
    
    .liLeft {
        left: 27vw;
    }
}

@media (min-width: 1281px) {

    .txt {
        font-size: 24px !important;
    }

    .startGameBtn {
        top: 32px;
        font-size: 25px;
    }

    .btnLeft {
        top: 20px;
    }
    
    .txtLeft {
        top: 20px;
    }
    
    .btnRight {
        top: 66px;
    }
    
    .txtRight {
        top: 66px;
    }
    
    .btnTB {
        top: 20px;
    }
    
    .txtTB {
        top: 20px;
    }
    
    .btnJ {
        top: 66px;
    }
    
    .txtJ {
        top: 66px;
    }
    
    .liKillC {
        top: 20px;
    }
    
    .liKillE {
        top: 66px;
    }
    
    .liLeft {
        top: 115px;
    }
    

}


/* Mobile Device canvas */
@media only screen and (max-width: 1280px) {
    canvas {
        max-width: 100% !important;
    }
}

/* Mobile Device canvas */
@media only screen and (max-height: 720px) {
    canvas {
        height: 100vh !important;

    }
}


/* Mobile Device Buttons */

#actionBtn1,
#actionBtn2  {
    position: absolute;
    max-height: 100vh;
    height: 100%;
    top: 0;
    margin-top: 30vh;

}

#actionBtn1 > div {
    margin-bottom: 48px;
    margin-right: 90vw;
}

#actionBtn2 > div {
    margin-bottom: 48px;
    margin-left: 90vw;
}

#goLeft,
#goRight,
#tBottle1,
#cJump1 {
    width: 64px;
    height: 64px;
    background-color:  rgb(253, 130, 9);
    filter: opacity(40%);
    z-index: 999;
    font-size: 1.9vw;
    border: 0px solid;
    border-radius: 8px;
}

#goLeft:hover,
#goRight:hover,
#tBottle1:hover,
#cJump1:hover {
    filter: opacity(80%);
}

#goLeft img,
#goRight img {
    height: 24px;
    margin-top: 5px;
}

#goLeft img {
    margin-right: 4px;
}

#goRight img {
    margin-left: 4px;
}
