/* General */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comic Neue';
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

canvas {
    background-color: black;
    display: block;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.d-clumn {
    flex-direction: column;
}

.d-center {
    align-items: center;
}


/* Content */

.fullscreenBtn {
    margin-top: 8px;
    background-color: transparent;
    border: 0px solid;
    font-size: 16px;
    font-family: 'Comic Neue';
}

.fullscreenBtn:hover {
    cursor: pointer;
}

#start {
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startScreen {
    max-width: 100vw !important;
    max-height: 75vh;
    object-fit: cover;
}

.content {
    margin-top: 1vw;
    height: 9vw;
    align-items: center;
    width: 100%;
}

.startGameBtn {
    margin-left: 2vw !important;
    border-radius: 0.8vw;
    border: 0.3vw solid rgb(253, 130, 9);
    background-color: green;
    font-size: 3vw !important;
    font-family: 'Comic Neue';
    color: rgb(235, 235, 235);
    width: 21vw;
    height: 6vw;
    z-index: 999;
}

.startGameBtn:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.infoBtns {
    margin-left: 10vw !important;
}

.infoButtonsStart {
    border-radius: 0.9vw;
    background-color: rgb(253, 130, 9);
    height: 3.8vw;
    width: 3.8vw;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoButtonsStart img {
    width: 1.5vw;
}

.infoBtns > div {
    margin-left: 1vw;
    margin-right: 1vw;
}

.distanceTB > div {
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
}

.infoButtonsTxt {
    border-radius: 0.8vw;
    background-color: rgb(253, 130, 9);
    height: 3.8vw;
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
    font-weight: bolder;
    font-size: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameInfo {
    margin-left: 4vw !important;
    font-size: 1.9vw;
    font-weight: bold;
}

.gameInfo > div {
    margin-top: 4px;
    margin-bottom: 4px;
}

.endscreen {
    margin-top: 16px;
    max-width: 1280px;
    width: 100%;
    justify-content: space-around;
}

.gameOver > div {
    margin-left: 12px;
    margin-right: 12px;
}

.infoButtonsEnd {
    border: 0.2vw solid black;
    border-radius: 8px;
    background-color: rgb(253, 130, 9);
    
}

.infoButtonsEnd img {
    height: 7vw;
}

.txt {
    margin-left: 8px;
    font-size: 1.9vw;
    font-weight: bold;
}


/* Responsive */

@media (max-width: 501px) {
    .startGameBtn {
        margin-left: 2vw !important;
        border-radius: 0.8vw;
        border: 0.3vw solid rgb(253, 130, 9);
        background-color: green;
        font-size: 14px;
        font-family: 'Comic Neue';
        color: rgb(235, 235, 235);
        width: 110px;
        height: 32px;
        z-index: 999;
    }

    .infoBtns {
        margin-left: 1vw !important;
    }

    .gameInfo {
        margin-left: 8vw !important;
        display: flex;
    }

    .left {
        margin-left: 12px;
    }
}


/* Mobile Device canvas */
@media only screen and (max-width: 1280px) {
    canvas {
        max-width: 100%;
    }
}

/* Mobile Device canvas */
@media only screen and (max-height: 720px) {
    canvas {
        height: 100vh;

    }
}


/* Mobile Device Buttons */

#actionBtn1,
#actionBtn2  {
    position: absolute;
    max-height: 100vh;
    height: 100%;
    top: 0;
    margin-top: 30vh;

}

#actionBtn1 > div {
    margin-bottom: 48px;
    margin-right: 90vw;
}

#actionBtn2 > div {
    margin-bottom: 48px;
    margin-left: 90vw;
}

#goLeft,
#goRight,
#tBottle1,
#cJump1 {
    width: 64px;
    height: 64px;
    background-color:  rgb(253, 130, 9);
    filter: opacity(40%);
    z-index: 999;
    font-size: 1.9vw;
    border: 0px solid;
    border-radius: 8px;
}

#goLeft:hover,
#goRight:hover,
#tBottle1:hover,
#cJump1:hover {
    filter: opacity(80%);
}

#goLeft img,
#goRight img {
    height: 24px;
    margin-top: 5px;
}

#goLeft img {
    margin-right: 4px;
}

#goRight img {
    margin-left: 4px;
}
