/* General */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comic Neue';
    margin: 0;
}

canvas {
    background-color: black;
    display: block;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.d-clumn {
    flex-direction: column;
}

.d-center {
    align-items: center;
}


/* Content */

.fullscreenBtn {
    margin-top: 8px;
    background-color: transparent;
    border: 0px solid;
    font-size: 16px;
    font-family: 'Comic Neue';
}

.fullscreenBtn:hover {
    cursor: pointer;
}

#startScreen {
    max-width: 1280px;
    max-height: 720px;
    width: 100%;
    max-height: 100vh;
}

.content {
    max-width: 1280px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.startGameBtn {
    padding: 12px;
    border-radius: 8px;
    border: 4px solid rgb(253, 130, 9);
    background-color: green;
    font-size: 34px;
    font-family: 'Comic Neue';
    color: rgb(235, 235, 235);
    height: 72px;
    width: 240px;
    z-index: 999;
}

.startGameBtn:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.infoButtonsStart {
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(253, 130, 9);
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 8px;
    padding-right: 12px;
    z-index: 999;
}

.infoButtonsStart img {
    height: 16px;
}

.infoBtns > div {
    margin-left: 12px;
    margin-right: 12px;
}

.distanceTB > div {
    margin-top: 6px;
    margin-bottom: 6px;
}

.infoButtonsTxt {
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(253, 130, 9);
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 8px;
    padding-right: 12px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.gameInfo {
    font-size: 20px;
    font-weight: bold;
}

.gameInfo > div {
    margin-top: 4px;
    margin-bottom: 4px;
}

.endscreen {
    margin-top: 16px;
    max-width: 1280px;
    width: 100%;
    justify-content: space-around;
}

.gameOver {
    margin-bottom: 12px;
}

.gameOver > div {
    margin-left: 12px;
    margin-right: 12px;
}

.infoButtonsEnd {
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(253, 130, 9);
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
}

.infoButtonsEnd img {
    height: 72px;
}

.txt {
    margin-left: 8px;
    font-size: 22px;
    font-weight: bold;
}


/* Responsive */

@media (max-width: 920px) {
    .endscreen,
    .content {
        flex-direction: column;
    }

    .startGameBtn {
        margin-top: 16px;
    }

    .infoBtns{
        margin-top: 32px;
        justify-content: left;
    }

    .gameInfo {
        margin-top: 16px;
    }

    .gameOver {
        margin-top: 16px;
    }
}

@media (max-width: 640px) {
    .gameOver,
    .infoBtns {
        flex-direction: column;
        align-items: center;
    }

    .gameOver > div {
        margin-bottom: 8px;
    }
}


/* Mobile Device canvas */
@media only screen and (max-width: 1280px) {
    canvas {
        max-width: 100%;
    }
}

/* Mobile Device canvas */
@media only screen and (max-height: 720px) {
    canvas {
        height: 100vh;

    }
}


/* Mobile Device Buttons */

#actionBtn1,
#actionBtn2  {
    position: absolute;
    max-height: 100vh;
    height: 100%;
    top: 0;
    margin-top: 30vh;

}

#actionBtn1 > div {
    margin-bottom: 48px;
    margin-right: 90vw;
}

#actionBtn2 > div {
    margin-bottom: 48px;
    margin-left: 90vw;
}

#goLeft,
#goRight,
#tBottle1,
#cJump1 {
    width: 64px;
    height: 64px;
    background-color:  rgb(253, 130, 9);
    filter: opacity(40%);
    z-index: 999;
    font-size: 24px;
    border: 0px solid;
    border-radius: 8px;
}

#goLeft:hover,
#goRight:hover,
#tBottle1:hover,
#cJump1:hover {
    filter: opacity(80%);
}

#goLeft img,
#goRight img {
    height: 24px;
    margin-top: 5px;
}

#goLeft img {
    margin-right: 4px;
}

#goRight img {
    margin-left: 4px;
}
